{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block navbar %}
<li><a href="/">Home</a></li>
<!-- TODO -->
<li><a href="/ad">Watch</a></li>
<li class="active"><a href="/about">About</a></li>
{% endblock %}

{% block body %}
<section class="feature-area section-padding overlay">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="page-title">
                    <h5 class="wow fadeInUp" style="color:white" data-wow-delay="0.2s"><strong>About Us</strong></h5>
                    <div class="space-10"></div>
                    <h3 class="wow fadeInUp" style="color:white" data-wow-delay="0.4s">MunchkinCarrier</h3>
                </div>
                <div class="space-20"></div>
                <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                    <p style="color:white">We are a group of like-minded college students who decided that we want to use our skills for the greater good. Thus, we decided to push ourselves to the limit and try to see what we can accomplish.</p>
                </div>
                <div class="space-50"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
                <div class="space-60 hidden visible-xs"></div>
                <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box-icon">
                        <i class="lnr lnr-graduation-hat"></i>
                    </div>
                    <h4 style="color:white">First Year Undergrads</h4>
                    <p style="color:white">We're both still in the first year of college!</p>
                </div>
                <div class="space-50"></div>
                <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box-icon">
                        <i class="lnr lnr-license"></i>
                    </div>
                    <h4 style="color:white"><strong>Software Engineer + Data Scientist</strong></h4>
                    <p style="color:white">The ultimate (?) combination!!!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}