{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block navbar %}
<li><a href="/">Home</a></li>
<!-- TODO -->
<li class="active"><a href="/ad">Watch</a></li>
<li><a href="/about">About</a></li>
{% endblock %}
<!-- Home-Area -->
<!-- Home-Area-End -->
{% block body %}
<!-- Progress-Area-End -->
<!-- Video-Area -->
<section class="video-area section-padding overlay ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="video-photo">
                    <img src="{{url_for('static', filename='images/video-image.jpg')}}" alt="">
                    <a href="https://www.youtube.com/watch?v=ScrDhTsX0EQ" class="popup video-button">
                        <img id='btn-a' src="{{url_for('static', filename='images/play-button.png')}}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1">
                <div class="space-60 hidden visible-xs"></div>
                <div class="page-title">
                    <h5 class="dark-color wow fadeInUp" data-wow-delay="0.2s"><strong>Ad Count</strong></h5>
                    <div class="space-10"></div>
                    <!-- TODO -->
                    <h3 id="scoreText" class="dark-color wow fadeInUp" data-wow-delay="0.4s">{{score}}</h3>
                    <div class="space-20"></div>
                    <div class="dark-color wow fadeInUp" data-wow-delay="0.6s">
                        <p>Let's shoot for the stars!</p>
                    </div>
                    <div class="space-50"></div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for msg in messages %}
                                <p>{{msg}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form action="#" method="post">
                        <p class="dark-color">Name (For Leaderboard in the future):</p>
                        <p><input type="text" name="nm" placeholder="Enter Name" value="{{user if user}}"></p>
                        <p><input class="bttn-default" type="submit" value="submit"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Video-Area-End -->
{% endblock %}
<!-- Subscribe-Form-Area -->
<!-- Footer-Area -->
{% block js %}
<script type="text/javascript">
    var sc = {{score}}
    var name = {{name}}
    function increment(num){
        return num+1;
    }

    btn_a = document.getElementById('btn-a')
    btn_a.addEventListener("click", () => {
        sc = sc+1;
        document.getElementById("scoreText").innerHTML = sc;
        console.log(sc);

    const sqlite3 = require('sqlite3').verbose();

    // open a database connection
    let db = new sqlite3.Database('users.sqlite3');

    //
    let sql = `UPDATE users
                SET score = ${sc}
                WHERE name = "${name}"`;

    db.run(sql, function(err) {
      if (err) {
        console.log("error");
        console.error(err.message);
        return console.error(err.message);
      }
      console.log(`Row(s) updated: ${this.changes}`);

});

// close the database connection
db.close();
    });
</script>
{% endblock %}
<!-- Footer-Area-End -->

{% block css %}
<script src="{{url_for('static', filename='js/require.js')}}"></script>
{% endblock %}